.article {
  h1 {
    
    font-size: 30px;
    @include respond_below(sm) {
      font-size: 25px;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
  }

  small {
    color: grey;
  }

  .image_container {
    img {
      width: 100%;
      height: auto;
    }
    margin: 20px 0px;
  }

  .article_footer {
    .tags {
      display: flex;
      gap: 10px;

      .badge {
        background-color: $color_secondary !important;
        color: $color_primary_light;

        &:hover {
          background-color: $color_primary !important;
        }
      }
    }
  }
}
